@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
	display: flex;
	flex-direction: column;
	background-color: rgb(149, 153, 153);
}

h1, h2, h3 {
	font-family: Open-Sans, sans-serif;
}

p, li {
	font-family: Roboto, sans-serif;
}

.App {
	text-align: center;
}

.App.head {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	padding: 10px 25%;
	margin: 10px 5px;
	border-radius: 5px;
	background-color: #5a4d68aa;
}

.App.list ol {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	padding: 10px 25%;
	margin: 10px 5px;
	border-radius: 5px;
	background-color: #4e4558aa;
}

.App.list ol li {
	color: black;
}