@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  background-color: rgb(46, 44, 44);
  color: #ffffff;
}

h1, h2, h3 {
  font-family: Open-Sans, sans-serif;
}

p, li, label {
	font-family: Roboto, sans-serif;
}

button {
  padding: 14px 25px;
}