@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
	display: flex;
	flex-direction: column;
	background-color: rgb(44, 44, 44);
	color: white;
}

h1, h2, h3 {
	font-family: Open-Sans, sans-serif;
}

p, li {
	font-family: Roboto, sans-serif;
}

ol {
	list-style-type: none;
}

.App {
	text-align: center;
}

.App.head {
	padding: 10px 25%;
	margin: 10px 5px;
	border-radius: 5px;
	background-color: #535050aa;
}

.App.list ol {
	padding: 10px 25%;
	margin: 10px 5px;
	border-radius: 5px;
	background-color: #535050aa;
}